<% content_for :title, "Car Rental | Home" %>
<% content_for :bodyClass, "homePage" %>
<%= Gon::Base.render_data %>
<div class="card-deck mb-3">
  <div class="card carsFilter mb-4 box-shadow">
    <div class="card-body">
      <%= form_tag filtered_cars_path, method: :post, class: "carsFilterForm" do %>
        <div class="form-group">
          <%= label_tag :location %>
          <%= text_field_tag :location, nil, placeholder: "Please select the location", class: "form-control", required: true %>
        </div>
        <div class="form-group">
          <%= text_field_tag :date, nil, placeholder: "Select Date", class: "form-control input-datepicker", required: true, data: {"date-end-date" => "0d"} %>
        </div>
        <div class="form-group">
          <%= button_tag "Filter", class: "btn btn-primary btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>