<% content_for :title, "Car Rental | Home" %>
<% content_for :bodyClass, "homePage" %>
<%= Gon::Base.render_data %>
<div class="card-deck mb-3">
  <div class="card carsFilter mb-4 box-shadow">
    <div class="card-body">
      <%= form_tag show_selected_car_path, method: :post, class: "carsFilterForm" do %>
        <div class="form-group">
          <%= label_tag :location %>
          <%= text_field_tag :location, nil, placeholder: "Please select the location", class: "form-control", required: true %>
        </div>
        <div class="form-group row">
          <div class="col-md-6 mb-2">
            <%= text_field_tag :start_date, nil, placeholder: "Start Date", class: "form-control input-datepicker", required: true %>
          </div>
          <div class="col-md-6 mb-2">
            <%= text_field_tag :end_date, nil, placeholder: "End Date", class: "form-control input-datepicker", required: true %>
          </div>
        </div>
        <div class="form-group text-right">
          <%= button_tag "Filter", class: "btn btn-primary btn-sm" %>
        </div>
      <% end %>
    </div>
  </div>
</div>